.movieCredits{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    list-style: none;
    text-align: center;
    width: 15vw;
    height: 35vh;
    border:2px solid #eee8e8;
    margin-bottom: 20px;

}

.image{
    width: 7vw;
    height: 19vh;
    border-radius: 20%;
    border: 2px solid white;

}

.mainCast{
    display: flex;
    color: darkgoldenrod;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.name{
    color: lightgoldenrodyellow;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: -4px;
}

.character{
    font-size: 14px;
    margin-bottom: 2px;
    color: darkgoldenrod;
}

p{
    font-size: 11px;
    margin: 2px;
    color: lightgoldenrodyellow;
}