.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.btn{
    width: 35px;
    height: 35px;
    margin: 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.img{
    width: 13vw;
    height: 35vh;
    border: 3px dashed white;
    margin: 10px;
}



.title{
    font-size: 15px;
    color: white;
    text-align: center;
}

.movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 55vh;
    margin: 20px;
    border: 2px solid red;
    color: white;
}

.img:hover{
    width: 20vw;
    height: 52vh;
    border: 3px dashed white;
}


.ulInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    width: 55vw;
}

.imageInfo{
    width: 25vw;
    height: 35vw;
    margin-top: 20px;
    border: 3px dashed white;

}

.titleInfo{
    color: lightgoldenrodyellow;
    list-style: none;
    font-size: 35px;
    margin: 25px;
}

.overview{
    font-size: 20px;
    text-align: center;
    color: lightgoldenrodyellow;
    margin: 20px;
}

.vote{
    color: lightgoldenrodyellow;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.genres{
    color: darkgoldenrod;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.release{
    color: lightgoldenrodyellow;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

body {
    background-image: url("https://w0.peakpx.com/wallpaper/8/803/HD-wallpaper-red-waves-on-black-background-red-aesthetic.jpg");
    background-size: cover;
}

.dark-mode{
    background-color: white;
}