.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: snow;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    font-size: 20px;
    height: 50px;
}

.Header a {
    text-decoration: none;
    color: red;
    text-shadow: 3px 3px 3px rgb(213, 140, 11);
}


.Header a[class='active'] {
    color: red;
    text-shadow: 4px 4px 3px rgb(213, 140, 11);
}


.dark-mode {
    background-color: #333;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

body {
    margin: 0;
}